[FORMAT]
max-line-length = 120
extension-pkg-whitelist=PyQt5

[DESIGN]
max-attributes=40  # TODO: refactor classes as needed to have default at 7
max-locals=20  # TODO: refactor so it's 15 by default.

[MASTER]
ignore=assets.py
jobs=4

[MESSAGES CONTROL]
disable=
    no-else-return,
    too-many-arguments,
    import-star-module-level,
    bad-inline-option,
    import-error,
    duplicate-code,
    arguments-differ,
    missing-docstring,
    invalid-name,
    cyclic-import,
    broad-except,
    no-else-break,
    super-with-arguments,
    protected-access,
    fixme,
    redefined-argument-from-local,
    too-many-public-methods,
    simplifiable-condition,
    arguments-renamed,
    inconsistent-return-statements,
    unused-argument,
    too-many-return-statements,
    unnecessary-pass,
    too-many-branches,
    consider-using-from-import,
    unused-wildcard-import,
    expression-not-assigned,
    wildcard-import,
    too-many-lines
