[FORMAT]
max-line-length = 120
extension-pkg-whitelist=PyQt5

[DESIGN]
max-attributes=40  # TODO: refactor classes as needed to have default at 7
max-locals=20  # TODO: refactor so it's 15 by default.

[MASTER]
ignore=assets.py
jobs=4

[MESSAGES CONTROL]
disable=
    no-else-return,
    too-many-arguments,
    duplicate-code,
    arguments-differ,
    missing-docstring,
    invalid-name,
    broad-except,
    no-else-break,
    import-error,
    fixme,
    redefined-argument-from-local,
    too-many-public-methods,
    arguments-renamed,
    super-with-arguments,
    inconsistent-return-statements,
    unused-argument,
    unnecessary-pass,
    too-many-branches,
    unused-wildcard-import,
    too-many-lines
