atomicwrites==1.4.0
attrs==19.3.0
autobahn==20.7.1
Automat==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==3.3.2
dateparser==0.7.6
decorator==4.4.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
iniconfig==1.0.1
more-itertools==8.4.0
numpy
packaging==20.4
pandas
pluggy==0.13.1
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqtgraph==0.11.0
python-binance==0.7.5
python-dateutil==2.8.1
python-telegram-bot==12.8
pytz
regex==2020.7.14
requests==2.24.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tornado==6.0.4
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.9
zope.interface==5.1.0
